<div class="loading-shade" *ngIf="saving">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="form" *ngIf="form">
    <div class="cloudapp-actions">
        <button mat-flat-button color="secondary" [routerLink]="['/']">
            <mat-icon>arrow_back</mat-icon>Back
        </button>
        <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="!form.dirty">Save</button>
    </div>
    <h1>Settings</h1>
    <h2>User Credentials</h2>
    <section class="settings-section">
        <mat-form-field id="user-name" appearance="standard">
            <mat-label>User Name</mat-label>
            <input matInput id="user-name" name="user-name" formControlName="userName"/>
        </mat-form-field>
    </section>
    <section class="settings-section">
        <mat-form-field id="password" appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput id="password" name="password" formControlName="password"/>
        </mat-form-field>
    </section>
</form>